@font-face {font-family: "FuturaMedium"; src: url("./fonts/futura/Futura\ Book\ font.ttf") }
body{
    margin: 0px;
    padding: 0px;
}

.cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'FuturaMedium';
    font-size: 0.75rem;
}

.main {
    background-color: #f7f3f0;
    display: flex;
    height: 85%;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 250px;
    margin-top: 20%;
}

.subtitle {
    margin-top: 40px;
}

.footer {
    height: 15%;
    background-color: #aeceaf;
    color: #f7f3f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: row;
    background-color: #aeceaf;
    width: 80vw;
    justify-content: center;
    font-size: 0.75rem;

}

.formContent {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #aeceaf !important;

}

input {
    background-color: #aeceaf;
    border-bottom-color: #f7f3f0 !important;
    border-bottom-width: 1px;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 30vw;
}

button {
    display: none;
}
