@font-face {font-family: "FuturaMedium"; src: url("./fonts/futura/Futura\ Book\ font.ttf") }
body{
    margin: 0px;
    padding: 0px;
}

.cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'FuturaMedium';
    font-size: 0.75rem;
    background-color: #f7f3f0;

}

.main {
    margin: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 250px;
    margin-top: 20%;
}

.subtitle {
    margin-top: 40px;
    color: #535353;
}

.footer {
    height: 15%;
    background-color: #c9d6c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: row;
    background-color: #c9d6c9;
    width: 80vw;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;

}

.formContent {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #c9d6c9 !important;

}

input {
    background-color: #c9d6c9;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 30vw;
    color: #535353;
    font-family: 'FuturaMedium';
    font-size: 0.75rem;
}

input::placeholder {
    color: #535353;
    font-family: 'FuturaMedium';
    font-size: 0.75rem;
}
.input:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}

button {
    background-color: #c9d6c9;
    border: none
}

.submit {
    border-bottom: solid;
    border-bottom-color: #535353;
    border-bottom-width: 0.8px;
    padding-bottom: 7px;
}

.submitIcon {
    background-color: #c9d6c9;
    width: 14px;
}

.label {
    margin-right: 20px;
    color: #535353;
    font-family: 'FuturaMedium';
    font-size: 0.75rem;
    margin-bottom: 5px;
    font-weight: bolder
}

.message {
    margin-top: 10px;
}
